@model FirstMvc.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <form asp-action="RsvpForm" method="Post">
    <div>
        <label asp-for="Name">Your name:</label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email">Your Email:</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Phone">Your phone:</label>
        <input asp-for="Phone" />
    </div>
    <div>
        <label asp-for="WillAttend">Will you attend?</label>
        <select asp-for="WillAttend">
            <option value=""></option>
            <option value="true">Yes, I'l be there</option>
            <option value="false">No, I won't</option>
            </select>
</div>
    <div> <button type="submit">Submit Rsvp</button>  </div>
    </form>

</body>
</html>
